
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100;200&display=swap');


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #e9dcd8, #eec1d2, #e0a199, #c5a6c5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#heart, #shop {
    width: 30px;
    height: 30px;
}

.heading  {
    border : dotted 1px rgb(31, 31, 24);
    margin: 5em 2rem 2em 2rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}
.heading > div {
    font-family: 'Texturina', serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startBtn, #retryBtn {
    font-family: 'Texturina', serif;
    font-style: bold 2rem;

}

#grid {
    height: 500px;
    background-color: rgb(250, 250, 250) ;
    margin: 2rem 2rem 6rem 2rem;
    border: black dotted 2px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}

.grass {
    background-image: url(/0-images/grass.png);
    background-size: contain;
}

.path {
    background-color: rgb(253, 253, 253);
    display: flex;
}

#startBtn {
    margin-bottom: 1rem;
}

#base {
    /* background-color: red; */
    background-image: url("https://cdn.dribbble.com/users/518045/screenshots/6338485/800x600.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: relative;
    margin-top: 2rem;
}

.canbetower {
    border-radius: 50%;
    background-image: url(/0-images/tower1.gif);
    background-size: contain;
    background-repeat: no-repeat;

}


  #enemy {
      /* background-color: black; */
      display: inline-block;
      background-image: url(/0-images/enem.gif); 
      background-repeat: no-repeat;
      background-size: contain;
      width: 60px;
      height: 60px;
      overflow: hidden;
      position: relative;
      margin-top: 50px;
      animation: enemy 6s infinite linear;
  }

  @keyframes enemy{
    0%{left: 0px} 
    100%{left: -679px}
}

#enemy.hurt {
    background-color: rgb(230, 110, 63);
    animation: 
    pulse 3s infinite linear;

  }

@keyframes pulse {
    0% {
      background-color: #ec523d;
      left: 0px;
    }
    100% {
      background-color: #b42e44;
      left: -679px;
    }
  } 